.field-select {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__name {
    display: block;
    margin-bottom: 10px;
    font-family: $font-family;
    font-size: 1em;
    font-weight: 400;
    line-height: $line-height;
  }

  &__select-wrap {
    display: block;
  }


  &__select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 385px;
    height: 36px;
    line-height: $line-height;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 45px;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid $white;
    border-radius: 0;
    appearance: none;
    background-color: $bg-dark;
    color: $white;
    cursor: pointer;
    transition: $transition-base;
    // background-image: linear-gradient(to left, $white, $white 36px, $bg-dark 36px);
    background-image: svg-load('../blocks/field-select/img_to_bg/select-down.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 36px;

    &[multiple] {
      background-image: none;
      min-height: 6.8em;
    }

    &::-ms-expand {
      display: none;
    }

    &:hover {
      background-image: svg-load('../blocks/field-select/img_to_bg/select-down-hover.svg');
      border-color: $accent-color;
    }


    &:focus {
      background-image: svg-load('../blocks/field-select/img_to_bg/select-down-focus.svg');
      // background-image: linear-gradient(to left, $accent-color, $accent-color 36px, $bg-dark 36px);
      border-color: $accent-color;
      outline: 0;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: initial;
      background-image: svg-load('../blocks/field-select/img_to_bg/select-down-disabled.svg');
      border-color: initial;
      opacity: 0.5;
    }
  }

  &__help-text {
    $text-color--muted:   $accent-color !default;
    $font-size--small:    0.75em !default;

    display: block;
    padding-top: 0.4em;
    font-size: $font-size--small;
    line-height: 1.2em;
    color: $accent-color;

    &:empty {
      display: none;
    }
  }
}
