.btn {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  box-sizing: border-box;
  display: inline-block;
  height: 36px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $text-color;
  background-color: $white;
  background-image: none;
  transform: skewX(-20deg);

  border: none;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "Купить";
    width: 100%;
    height: 100%;
    transform: skewX(20deg);
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: currentColor;
    background-color: $accent-color;
  }

  &:active,
  &:focus {
    text-decoration: none;
    color: currentColor;
    background-color: $accent-color;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: $white;
    background-color: $text-muted;
    pointer-events: none;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--dark {
    color: $white;
    background-color: $bg-dark;
  }
}
