.shop {
  // min-height: 862px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  background-color: $bg-dark;
  color: $white;

  @media (min-width: $screen-md) {
    padding-top: 90px;
    padding-bottom: 100px;
    margin-bottom: 100px;
  }

  $block-name:                &; // #{$block-name}__element

  &__container {
    /* position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden; */
  }

  &__show,
  &__order {
    position: relative;
    // flex-shrink: 0;
    // flex-grow: 0;
    width: 100%;
  }

  &__header-col {
    @include col(xs, 12);
    @include col-offset(md, 1);
    @include col(md, 10);
    @include col-offset(xl, 2);
    @include col(xl, 8);
  }

  &__header-title,
  &__item-title {
    color: inherit;
  }

  &__item-title {
    text-align: center;

    span {
      display: block;
      font-family: $font-family;
      font-weight: 400;
    }
  }

  &__img-col {
    @include col(xs, 6);
    @include col-offset(md, 1);
    @include col(md, 4);
    @include col-offset(xl, 2);
    @include col(xl, 3);

    &--two {
      @media (min-width: $screen-md) {
        @include col-offset(md, 2);
        @include col(md, 4);
      }
    }
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    img {
      display: block;
      max-width: 165px;

      @media (min-width: $screen-xl) {
        width: 280px;
        max-width: 280px;
      }
    }
  }

  &__silver-ctrl {

  }

  &__order-btn {
    width: 90%;
  }

  &__ctrl {
    margin-bottom: 25px;
    text-align: center;
  }

  &__color-col {
    @include col(xs, 3);
    @include col-offset(md, 2);
    @include col(md, 2);

    &:last-child {
      @media (min-width: $screen-md) {
        @include col-offset(md, 0);
        transform: translateX(-10px);
      }
    }
  }

  &__color {
    width: 100%;
    height: 26px;
    transform: skewX(-20deg);

    @media (min-width: $screen-md) {
      transform: skewX(-23deg);
    }

    @media (min-width: $screen-xl) {
      width: 180px;
      transform: skewX(-21deg);
    }

    &--silver {
      background: linear-gradient(to top right, #7e7e7e 40%, #fbfaf8 90%);
    }

    &--pink {
      background: linear-gradient(to top right, #dea2bc 40%, #fbfaf8 90%);
    }

  }

  &__price-col {
    @include col(xs, 6);
    @include col(md, 4);
  }

  &__price-show {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }

  &__order {
    display: none;
    color: $white;

    h1, h2, h3, h4 {
      color: inherit;
    }
  }

  &__header {
    @include col(xs, 12);
    @include col-offset(md, 2);
    @include col(md, 8);
  }

  &__order-title {
    margin-bottom: 30px;

    &::after {
      display: none;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 50px;
    }
  }

  &__form-col-main {
    @include col(xs, 12);
    @include col-offset(md, 1);
    @include col(md, 10);
    @include col-offset(xl, 2);
    @include col(xl, 8);
  }

  &__form {

  }

  &__form-col-1 {
    @include col(xs, 12);
    @include col(md, 6);
  }

  &__form-col-2 {
    @include col(xs, 12);
    @include col(md, 6);
  }

  &__equipment {
    margin-bottom: 30px;
  }

  &__order-set {

    li + li {
      margin-top: 0.5em;
    }
  }

  &__order-img-wrapper {
    margin-bottom: 30px;
  }

  &__order-check-wrapper {
    display: flex;
    justify-content: flex-start;
    max-width: 386px;
    margin-bottom: 40px;
  }

  &__order-price-wrapper,
  &__order-quantity-wrapper {
    width: calc(50% - 10px);
  }

  &__order-price-label {
    display: block;
    margin-bottom: 20px;
    font-size: 1em;
  }

  &__order-price {
    font-family: $font-family;
    font-weight: 400;
    text-transform: none;
    color: inherit;
  }

  &__order-price-num {
    font-family: $font-family--heading;
    font-weight: 700;
    font-size: larger;
    text-transform: uppercase;
  }

  &__order-quantity-wrapper {

  }

  &__order-ctrl-wrapper {
    display: flex;
    justify-content: flex-start;
  }

  &__btn-wrapper {
    margin-bottom: 30px;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__order-ctrl-btn {

  }

  &__order-ctrl-quantity {
    max-width: 110px;
    font-size: 26px;
    text-align: center;
    border-left-width: 0;
    border-right-width: 0;
  }

  &__agreement-row {

    @media (min-width: $screen-md) {
      align-items: flex-end;
    }
  }

  &__agreement-wrapper {
  }

  &__agreement {
    position: relative;
    display: block;
    padding-left: 35px;
    margin-bottom: 25px;
    font-size: smaller;
    line-height: 1.3em;
    cursor: pointer;
    transition: $transition-base;

    &::before {
      position: absolute;
      top: 3px;
      left: 0;
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      background-color: $white;
      border: 1px solid $white;
    }

    &:hover {
      color: $accent-color;
    }

    &:hover::before {
      border-color: $accent-color;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 30px;
    }
  }
}

#agreement {
  display: none;
}

#agreement:checked + .shop__agreement {
  &::before {
    border-color: $accent-color;
  }

  &::after {
    position: absolute;
    top: 8px;
    left: 5px;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: $accent-color;
  }
}
