.features {

  .swiper-pagination {
    position: static;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;

    @media (min-width: $screen-md) {
      justify-content: flex-end;
      position: absolute;
      bottom: 0;
      right: 20px;
      padding-left: 20px;
      padding-right: 25px;
    }

    @media (min-width: $screen-xl) {
      padding-left: 40px;
      padding-right: 45px;
    }
  }

  .swiper-slide {
    @media (min-width: $screen-md) {
      overflow: hidden;
    }
  }

  .swiper-pagination-bullet {
    position: relative;
    display: block;
    min-width: 20px;
    min-height: 28px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 20px !important;
    border-radius: 0;
    color: $white;
    background-color: $text-muted;
    box-sizing: border-box;
    transform: skew(-17deg);

    &:last-child {
      margin-right: 0 !important;
    }

    &:hover,
    &:focus {
      background-color: $bg-dark;
      outline: none;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $bg-dark;
  }

  $block-name:                &; // #{$block-name}__element

  &__bullet-num {
    position: absolute;
    bottom: -1px;
    right: 2px;
    display: block;
    font-family: $font-family;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    line-height: 0.8;
    transform: skew(17deg);
  }

  &__slider-wrapper {
    margin-bottom: 30px;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      background: linear-gradient(to right, $bg-dark, $bg-dark 50%, $white 50%, $white);
    }
  }

  &__slider {
    position: relative;

    @media (min-width: $screen-xl) {
      overflow: hidden;
    }
  }

  &__row-slide {

    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__slide-img-wrapper {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    overflow: hidden;
    background: $bg-dark;

    @media (min-width: $screen-md) {
      width: 415px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }

    @media (min-width: $screen-xl) {
      width: 50%;
    }
  }

  &__slide-img {
    width: 320px;
    max-width: 437px;
    display: block;
    margin-left: auto;
    object-fit: cover;

    @media (min-width: $screen-md) {
      width: 100%;
      max-width: 415px;
      max-width: none;
    }

    @media (min-width: $screen-xl) {
      max-width: 590px;
    }
  }

  &__slide-text {
    background-color: $white;

    p {
      margin-top: 0;
    }

    ul {
      margin-top: 0;
      list-style-type: none;
      padding-left: 0;
    }

    p,
    ul {
      span {
        font-weight: 700;
      }
    }

    @media (min-width: $screen-md) {
      width: calc(100% - 415px);
      padding-left: 20px;
    }

    @media (min-width: $screen-xl) {
      width: 50%;
      padding-left: 120px;
    }
  }

  &__list-name {
    margin-bottom: 0;
  }

  &__slide-note {
    display: block;
    margin-bottom: 10px;
    font-family: $font-family--heading;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: $text-muted;

    @media (min-width: $screen-md) {
      text-align: right;
    }
  }

  &__slide-title {

  }

  &__thinnest-track {

  }

  &__thinnest-track-bg {
    margin-bottom: 30px;
    background: linear-gradient(to right, $bg-light, $bg-light 50%, $white 50%, $white);
  }

  &__thinnest-track-col {
    @include col(xs, 10);
    @include col(md, 7);
    background-color: $bg-light;
  }

  &__thinnest-track-title {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    margin: 0;
  }

  &__thinnest-track-scheme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include col(xs, 9);

    img {
      display: inline-block;
      width: 110px;
      height: 26px;
    }

    span {
      display: inline-block;
      width: calc(100% - 110px);
      height: 26px;
      border: 1px solid $text-color;
      border-radius: 15px;
      transform: translateX(-3px);
    }
  }

  &__thinnest-track-hand-wrapper {
    @include col(xs, 12);
  }

  &__thinnest-track-para {

  }

  &__touch-control {

  }

  &__touch-control-col-1 {

  }

  &__touch-control-text {

  }

  &__touch-control-para {

  }

  &__touch-control-col-2 {

  }

  &__touch-control-img-wrapper {

  }

  &__touch-control-col-3 {

  }

  &__max-speed {

  }

  &__max-speed-img {

  }

  &__max-speed-text {

  }

  &__max-speed-para {

  }

  &__warranty {

  }

  &__warranty-img-col {

  }

  &__warranty-img-wrapper {

  }

  &__warranty-text-col {

  }

  &__warranty-para {

  }

  &__storage {

  }

  &__storage-text-col {

  }

  &__storage-img-col {

  }

  &__storage-img-wrapper {

  }
}
